@model GivingTree.Data.Models.FruitTree

@{
	ViewBag.Title = "Details";
}

<h2>Details for @Html.DisplayFor(model => model.Name)</h2>

<div>
	<h4>Tree</h4>
	<hr />
	<dl class="row">
		<dt class="col-sm-3">
			@Html.DisplayNameFor(model => model.Name)
		</dt>
		<dd class="col-sm-9">
			@Html.DisplayFor(model => model.Name)
		</dd>

		<dt class="col-sm-3">
			@Html.DisplayNameFor(model => model.Fruit)
		</dt>
		<dd class="col-sm-9">
			@Html.DisplayFor(model => model.Fruit)
		</dd>

		<dt class="col-sm-3">
			@Html.DisplayNameFor(model => model.Description)
		</dt>
		<dd class="col-sm-9">
			@Html.DisplayFor(model => model.Description)
		</dd>
		@*<dt class="col-sm-3">
			@Html.DisplayNameFor(model => model.Location)
		</dt>
		<dd class="col-sm-9">
			@Html.DisplayFor(model => model.Location)
		</dd>*@

		<dt class="col-sm-3">
			@Html.DisplayNameFor(model => model.Latitude)
		</dt>
		<dd class="col-sm-9">
			@Html.DisplayFor(model => model.Latitude)
		</dd>
		<dt class="col-sm-3">
			@Html.DisplayNameFor(model => model.Longitude)
		</dt>
		<dd class="col-sm-9">
			@Html.DisplayFor(model => model.Longitude)
		</dd>

@*		<dt class="col-sm-3">
			@Html.DisplayNameFor(model => model.Image)
		</dt>
		<dd class="col-sm-9">
			@Html.DisplayFor(model => model.Image)
		</dd>*@
	</dl>
</div>
<p>
	@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
	@Html.ActionLink("Back to List", "Index")
</p>