@model GivingTree.Web.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
	<div>
		<div class="col-md">
			Password:
			[
			@if (Model.HasPassword)
			{
				@Html.ActionLink("Change your password", "ChangePassword")
			}
			else
			{
				@Html.ActionLink("Create", "SetPassword")
			}
			]
		</div>
		<hr />
		<div class="col-md">
			External Logins:
			@Model.Logins.Count [
			@Html.ActionLink("Manage", "ManageLogins") ]
		</div>
		<hr />
		<div class="col-md">Phone Number:
		@(Model.PhoneNumber ?? "None")
			@if (Model.PhoneNumber != null)
			{
				<br />
				<text>[&nbsp;&nbsp;@Html.ActionLink("Change", "AddPhoneNumber")&nbsp;&nbsp;]</text>
				using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new { @class = "", role = "form" }))
				{
					@Html.AntiForgeryToken()
					<text>[<input type="submit" value="Remove" class="btn btn-link" />]</text>
				}
			}
			else
			{
				<text>[&nbsp;&nbsp;@Html.ActionLink("Add", "AddPhoneNumber")&nbsp;&nbsp;]</text>
			}
		</div>
		<hr />
		<div class="col-md">Two-Factor Authentication:
			@if (Model.TwoFactor)
			{
				using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-inline", role = "form" }))
				{
					@Html.AntiForgeryToken()
					<text>Enabled
						<input type="submit" value="Disable" class="btn btn-link" />
					</text>
				}
			}
			else
			{
				using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-inline", role = "form" }))
				{
					@Html.AntiForgeryToken()
					<text>Disabled
						<input type="submit" value="Enable" class="btn btn-link" />
					</text>
				}
			}
		</div>
	</div>
</div>
